

.posts-list-caption {
    display: none;
}

.distill-site-header {
  --bkgd-color:     #010101;
  --title-size:     25px;
  --text-size:      20px;
}

.distill-site-header .logo img {
    float: left;
    width: 100px;
    height: 100px;
    max-height: 100px;
}

.distill-site-header .nav-right {
    float: right;
    display: flex;
    justify-content: space-around;
}

.distill-site-header .title {
        float: left;
    display: flex;

}



