

.distill-site-header .logo img {
    display: inline-block;
    width: 80px;
    height: 80px;
    max-height: 80px;
}

.posts-list-caption {
    display: none;
}

.distill-site-header {
  --bkgd-color:       #010101;
}



