
nav{
 padding-bottom:20px;
}

body{
 padding-top:20px;
}

#toc {
  margin: 40px 0px 40px 0px;
  background: url("img/image.png");
  background-size: contain 20%;
  padding-top: 200px;
  background-repeat: no-repeat;
}

